h1,
h2,
h3 {
  font-family: "Rock Salt", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

body {
  font-family: "Comic Relief", system-ui;
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
  background-image: url("../BG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

img,
svg,
video {
  grid-column: 1;
  position: center;
}
