html {
  color-scheme: light dark;
}

@font-face {
  font-family: "Luckiest Guy";
  src: url("../fonts/LuckiestGuy-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Rock Salt";
  src: url("../fonts/RockSalt-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

dialog {
  padding: 0.2%;
  max-width: fit-content;
  position: fixed;
  background-color: light-dark(#4c8e5a, #1a331f);
  font-family: "Oswald", Impact;
  color: light-dark(black, white);
  border-radius: 0.5em;
  border-color: light-dark(#1a331f, #4c8e5a);
}

button {
  padding: 0.2em;
  max-width: fit-content;
  grid-column-start: 2;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background-color: light-dark(#4c8e5a, #1a331f);
  border-radius: 20em;
  font-family: "Oswald", Impact;
  color: light-dark(black, white);
  border-color: light-dark(#1a331f, #4c8e5a);
}

header ul {
  grid-column-start: 2;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #021c1f;
  cursor: pointer;
  list-style: none;
}

a:hover {
  color: darkcyan;
}

a:active {
  color: darkgreen;
}

a:visited {
  color: greenyellow;
}

a:focus {
  outline: 0.1em dashed black;
  color: red;
}

h1 {
  font-family: "Luckiest Guy", serif;
  font-size: 2.5em;
  @media (width > 34em) {
    font-size: 3.2em;
  }
}

h2,
h3 {
  font-family: "Luckiest Guy", serif;
  @media (width < 34em) {
    font-size: 1.6em;
  }
}

p {
  grid-column: 1/-1;
  text-wrap: balance;
}

main {
  font-family: "Rock Salt", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  color: light-dark(black, white);

  @media (width > 35em) {
    grid-template-columns: 1fr 1fr;
    max-width: 40em;
    margin: auto;
  }
}

body {
  background-image: light-dark(url("../BG.png"), url("../BGdark.png"));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

article {
  grid-column: 1/-1;
}

img,
svg,
video {
  width: 100%;
  max-width: 500px;
  grid-template-columns: 1/ -1;
  align-self: center;
  justify-self: center;
  display: block;
}
