html {
  color-scheme: light dark;
}

header ul {
  grid-column-start: 2;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #022d32;
  cursor: pointer;
}

a:hover {
  color: darkcyan;
}

a:active {
  color: darkgreen;
}

a:visited {
  color: greenyellow;
}

a:focus {
  outline: 0.1em dashed black;
  color: black;
}

h1 {
  font-size: 2.5em;
  @media (width > 34em) {
    font-size: 4em;
  }
}

h1,
h2,
h3 {
  font-family: "Luckiest Guy", sans-serif;
  color: light-dark(#44b1bd, #022d32);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  font-family: "Rock Salt", sans-serif;
  color: light-dark(#44b1bd, #022d32);

  @media (width > 20em) {
    grid-template-columns: 1fr 1fr;
  }
}

body {
  background-image: light-dark(url("../BG.png"), url("../BGdark.png"));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

article {
  grid-column: 1/-1;
}

img,
svg,
video {
  width: 100%;
  max-width: 500px;
  grid-template-columns: 1/ -1;
  align-self: center;
  justify-self: center;
}
